.single {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.single > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.single > :global(.__wab_flex-container) > *,
.single > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.single > :global(.__wab_flex-container) > picture > img,
.single
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .single {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .single > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ru5Xr {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__ru5Xr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ru5Xr > :global(.__wab_flex-container) > *,
.freeBox__ru5Xr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ru5Xr > :global(.__wab_flex-container) > picture > img,
.freeBox__ru5Xr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ru5Xr {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
    display: flex;
    padding: 0px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ru5Xr > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___88Ub {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox___88Ub > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___88Ub > :global(.__wab_flex-container) > *,
.freeBox___88Ub > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___88Ub > :global(.__wab_flex-container) > picture > img,
.freeBox___88Ub
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___88Ub {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___88Ub > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___88Ub > :global(.__wab_flex-container) > *,
  .freeBox___88Ub > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___88Ub > :global(.__wab_flex-container) > picture > img,
  .freeBox___88Ub
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.link {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__yOlaH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__laQj {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__fRx7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___6Irjo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3JdD {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hiWjq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sKyq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.heade:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__i6GdC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1441px;
  align-self: auto;
  margin-bottom: 0px;
  padding: 60px 0px 6px;
}
.freeBox__i6GdC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__i6GdC > :global(.__wab_flex-container) > *,
.freeBox__i6GdC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i6GdC > :global(.__wab_flex-container) > picture > img,
.freeBox__i6GdC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i6GdC {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i6GdC > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__i6GdC > :global(.__wab_flex-container) > *,
  .freeBox__i6GdC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__i6GdC > :global(.__wab_flex-container) > picture > img,
  .freeBox__i6GdC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__h9Q4M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vgFm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 2px 1px 0px 0px;
}
.img__gLfcn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 300px;
}
.img__gLfcn > picture > img {
  object-fit: cover;
}
.column__onfbo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px;
}
.column__onfbo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__onfbo > :global(.__wab_flex-container) > *,
.column__onfbo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__onfbo > :global(.__wab_flex-container) > picture > img,
.column__onfbo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__onfbo {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__onfbo > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__onfbo > :global(.__wab_flex-container) > *,
  .column__onfbo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__onfbo > :global(.__wab_flex-container) > picture > img,
  .column__onfbo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  color: var(--token-NEon4Y--Z);
  min-width: 0;
}
.text__srRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.freeBox___2Pjp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox___2Pjp9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 36px);
  height: calc(100% + 36px);
}
.freeBox___2Pjp9 > :global(.__wab_flex-container) > *,
.freeBox___2Pjp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Pjp9 > :global(.__wab_flex-container) > picture > img,
.freeBox___2Pjp9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Pjp9 {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: calc(0px + 24px) !important;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Pjp9 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 7px);
    width: calc(100% + 7px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Pjp9 > :global(.__wab_flex-container) > *,
  .freeBox___2Pjp9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2Pjp9 > :global(.__wab_flex-container) > picture > img,
  .freeBox___2Pjp9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 7px;
    margin-top: 0px;
  }
}
.select:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 157px;
}
.text__kl1HU {
  font-family: "Inter", sans-serif;
}
.option__tcaAg:global(.__wab_instance) {
  position: relative;
}
.option__kdM9L:global(.__wab_instance) {
  position: relative;
}
.button__zhxX3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 103px;
}
.svg__wEmcT {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iiHr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___29AAo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 60px 80px 42px;
}
.freeBox___29AAo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___29AAo > :global(.__wab_flex-container) > *,
.freeBox___29AAo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___29AAo > :global(.__wab_flex-container) > picture > img,
.freeBox___29AAo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___29AAo {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 50px 32px 100px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___29AAo > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___29AAo > :global(.__wab_flex-container) > *,
  .freeBox___29AAo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___29AAo > :global(.__wab_flex-container) > picture > img,
  .freeBox___29AAo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__dnJ {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__dnJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__dnJ > :global(.__wab_flex-container) > *,
.freeBox__dnJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dnJ > :global(.__wab_flex-container) > picture > img,
.freeBox__dnJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dnJ {
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dnJ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dnJ > :global(.__wab_flex-container) > *,
  .freeBox__dnJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dnJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__dnJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.freeBox__yVwU7 {
  display: flex;
  flex-direction: column;
}
.freeBox__yVwU7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yVwU7 > :global(.__wab_flex-container) > *,
.freeBox__yVwU7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yVwU7 > :global(.__wab_flex-container) > picture > img,
.freeBox__yVwU7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__q8PV2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1c1a17;
  text-align: left;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: 0px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  max-width: 451px;
  width: 100%;
  padding-left: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2 {
    text-align: center;
    font-size: 22px;
  }
}
.freeBox__guZh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 991px;
  padding-right: 0px;
  padding-left: 0px;
  min-height: auto;
  max-height: none;
}
.freeBox__guZh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__guZh > :global(.__wab_flex-container) > *,
.freeBox__guZh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__guZh > :global(.__wab_flex-container) > picture > img,
.freeBox__guZh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__guZh {
    display: flex;
    flex-direction: row;
    min-width: 360px;
    position: relative;
    align-self: center;
    width: 400px;
    padding-right: 0px;
    padding-left: 0px;
    min-height: auto;
    max-height: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__guZh > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__guZh > :global(.__wab_flex-container) > *,
  .freeBox__guZh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__guZh > :global(.__wab_flex-container) > picture > img,
  .freeBox__guZh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 0px;
  }
}
.freeBox__aOdh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  min-width: 0;
  border-radius: 16px;
  border: 1px none #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aOdh {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    height: auto;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    max-width: 200px;
    min-width: 0;
    border-radius: 16px;
    border: 1px none #e5e5ea;
  }
}
.freeBox__vxKz {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: auto;
  position: relative;
  height: auto;
  align-self: auto;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.freeBox__vxKz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__vxKz > :global(.__wab_flex-container) > *,
.freeBox__vxKz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vxKz > :global(.__wab_flex-container) > picture > img,
.freeBox__vxKz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.img___5Jx36 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 90px;
}
.img___5Jx36 > picture > img {
  object-fit: cover;
}
.freeBox__i6Cu1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pna3V {
  padding-bottom: 0px;
  text-align: center;
  font-size: 18px;
  color: #1c1a17;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
}
.freeBox___9KyuE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  height: 146px;
  min-width: 0;
  border-radius: 16px;
  border: 1px none #e5e5ea;
}
.freeBox__mIb7O {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: auto;
  position: relative;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.freeBox__mIb7O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__mIb7O > :global(.__wab_flex-container) > *,
.freeBox__mIb7O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mIb7O > :global(.__wab_flex-container) > picture > img,
.freeBox__mIb7O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mIb7O {
    max-width: 200px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mIb7O > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.img__aAqP {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  width: 90px;
  height: 161px;
  flex-shrink: 0;
}
.img__aAqP > picture > img {
  object-fit: contain;
}
.freeBox__zui56 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__oEVs {
  padding-bottom: 0px;
  text-align: center;
  font-size: 18px;
  color: #1c1a17;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.footer:global(.__wab_instance) {
  position: relative;
}
