.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.heade:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 20;
}
.freeBox__fUh3T {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #ffffff;
  box-shadow: none;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__fUh3T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fUh3T > :global(.__wab_flex-container) > *,
.freeBox__fUh3T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fUh3T > :global(.__wab_flex-container) > picture > img,
.freeBox__fUh3T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fUh3T {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
    display: none;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fUh3T > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__oc1Iq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1235px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox__oc1Iq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__oc1Iq > :global(.__wab_flex-container) > *,
.freeBox__oc1Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oc1Iq > :global(.__wab_flex-container) > picture > img,
.freeBox__oc1Iq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oc1Iq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oc1Iq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oc1Iq > :global(.__wab_flex-container) > *,
  .freeBox__oc1Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oc1Iq > :global(.__wab_flex-container) > picture > img,
  .freeBox__oc1Iq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__rfzE2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__fjrgD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  width: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.link__c9TeY {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text__jIpxI {
  width: 100%;
  color: var(--token-GcwBAJtdG3Xn);
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  min-width: 0;
}
.freeBox__asQJf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg___2Bovy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.link__ob4Q {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text___4VIrN {
  width: 100%;
  color: var(--token-GcwBAJtdG3Xn);
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  min-width: 0;
}
.freeBox___2DAc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__ou05K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.link__gl0V {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.freeBox___3Ydim {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vrOme {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text__ydA4 {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.freeBox___3Etbt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vmJg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__poVrK {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text___04JIm {
  width: 100%;
  color: var(--token-GcwBAJtdG3Xn);
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  min-width: 0;
}
.freeBox__pM3V5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__vdJ3K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.text___1T4KW {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.freeBox__kygIb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__l0Ek6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__k0VQl {
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.text__zx8T {
  width: 100%;
  color: var(--token-GcwBAJtdG3Xn);
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  min-width: 0;
}
.freeBox__kAbz {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__kAbz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kAbz > :global(.__wab_flex-container) > *,
.freeBox__kAbz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kAbz > :global(.__wab_flex-container) > picture > img,
.freeBox__kAbz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kAbz {
    width: 100%;
    left: auto;
    top: auto;
    margin-bottom: 0px;
    min-width: 0;
    display: flex;
    padding: 0px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kAbz > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___1Zdj3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox___1Zdj3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1Zdj3 > :global(.__wab_flex-container) > *,
.freeBox___1Zdj3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Zdj3 > :global(.__wab_flex-container) > picture > img,
.freeBox___1Zdj3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Zdj3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Zdj3 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Zdj3 > :global(.__wab_flex-container) > *,
  .freeBox___1Zdj3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1Zdj3 > :global(.__wab_flex-container) > picture > img,
  .freeBox___1Zdj3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.link___8OiY9 {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__dwGU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__cbKh {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__lhiyx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg___1FvoQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rCQqr {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__aTfhl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__gVnLj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.freeBox__kwSJx {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-top: 21px;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__kwSJx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kwSJx > :global(.__wab_flex-container) > *,
.freeBox__kwSJx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwSJx > :global(.__wab_flex-container) > picture > img,
.freeBox__kwSJx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwSJx {
    width: 100%;
    left: auto;
    top: auto;
    flex-shrink: 1;
    flex-grow: 0;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-bottom: 0px;
    box-shadow: none;
    min-width: 0;
    padding: 9px 32px 37px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwSJx > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
    min-width: 0;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kwSJx > :global(.__wab_flex-container) > *,
  .freeBox__kwSJx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kwSJx > :global(.__wab_flex-container) > picture > img,
  .freeBox__kwSJx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.freeBox__baSc3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__baSc3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__baSc3 > :global(.__wab_flex-container) > *,
.freeBox__baSc3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__baSc3 > :global(.__wab_flex-container) > picture > img,
.freeBox__baSc3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baSc3 {
    flex-direction: column;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baSc3 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__baSc3 > :global(.__wab_flex-container) > *,
  .freeBox__baSc3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__baSc3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__baSc3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.svg__t2B2K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__uYy8B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__l635A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__lBzy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__zKn1F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__u6SaQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__vrWHl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__yI2Tz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__zfKjB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__jQwU5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg__xdUkB {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__tU71M {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1161px;
  min-width: 0;
}
.freeBox__tU71M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tU71M > :global(.__wab_flex-container) > *,
.freeBox__tU71M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tU71M > :global(.__wab_flex-container) > picture > img,
.freeBox__tU71M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tU71M {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tU71M > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tU71M > :global(.__wab_flex-container) > *,
  .freeBox__tU71M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tU71M > :global(.__wab_flex-container) > picture > img,
  .freeBox__tU71M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__khbun {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.text__hh7Op {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.text__edWvH {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.text__f1BS0 {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.text__arPv0 {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.text__raIyf {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.text__ufi59 {
  position: relative;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  user-select: text;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: auto;
  text-align: center;
  min-width: 0;
}
.freeBox__lbKkc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/appel_site/images/epad2Png.png") left 50% top 20% / cover no-repeat,
    var(--token-NEon4Y--Z);
  overflow: hidden;
  align-self: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 70px 0px 404px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lbKkc {
    padding-top: 0px;
    background: url("/plasmic/appel_site/images/epadpng2.png") left 50% top 156px / cover no-repeat,
      var(--token-NEon4Y--Z);
    left: auto;
    top: auto;
  }
}
.freeBox__yJdZs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yJdZs {
    padding: 50px 8px 8px;
  }
}
.freeBox__pFbFh {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 650px;
  min-width: 0;
  padding: 4px 8px 8px;
}
.freeBox__pFbFh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__pFbFh > :global(.__wab_flex-container) > *,
.freeBox__pFbFh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pFbFh > :global(.__wab_flex-container) > picture > img,
.freeBox__pFbFh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pFbFh {
    padding-top: 0px;
  }
}
.freeBox___4A2IH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1__szNX {
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  color: var(--token-YxFJTv0qIp7rQ);
  backdrop-filter: drop-shadow(0px 0px 10px #000000);
  font-family: "Inter", sans-serif;
  min-width: 0;
  -webkit-backdrop-filter: drop-shadow(0px 0px 10px #000000);
  padding: 1px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__szNX {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.freeBox__rnRpP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dIsaN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__qoUov {
  width: 100%;
  height: auto;
  max-width: 530px;
  padding-bottom: 0px;
  color: var(--token-YxFJTv0qIp7rQ);
  text-align: center;
  font-size: 20px;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 9px 10px #000000);
  font-family: "Inter", sans-serif;
  min-width: 0;
  -webkit-backdrop-filter: drop-shadow(10px 9px 10px #000000);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qoUov {
    text-align: center;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.text__vpRmf {
  width: 100%;
  height: auto;
  max-width: 530px;
  color: var(--token-Jlp18DIKL87);
  text-align: center;
  font-size: 30px;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 9px 10px #000000);
  font-family: "Inter", sans-serif;
  padding-bottom: 0px;
  min-width: 0;
  -webkit-backdrop-filter: drop-shadow(10px 9px 10px #000000);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vpRmf {
    text-align: center;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.button__zy1Ez:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dzQsO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dmsnV {
  text-transform: uppercase;
  color: #ededec;
  user-select: none;
}
.svg___6Bw5Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__spBsN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/appel_site/images/img0582Png.png") left 50% top 20% / cover no-repeat,
    var(--token-NEon4Y--Z);
  overflow: hidden;
  align-self: auto;
  margin-bottom: 0px;
  margin-top: 20px;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 70px 0px 404px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__spBsN {
    padding-top: 0px;
    background: url("/plasmic/appel_site/images/epadpropng.png") left 19% top 185px / cover no-repeat,
      var(--token-NEon4Y--Z);
    left: auto;
    top: auto;
  }
}
.freeBox__eDtVq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eDtVq {
    padding: 50px 8px 8px;
  }
}
.freeBox__dOt91 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 650px;
  min-width: 0;
  padding: 4px 8px 8px;
}
.freeBox__dOt91 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dOt91 > :global(.__wab_flex-container) > *,
.freeBox__dOt91 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dOt91 > :global(.__wab_flex-container) > picture > img,
.freeBox__dOt91
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dOt91 {
    padding-top: 0px;
  }
}
.freeBox__rJa3S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.h1__wL3OD {
  width: 100%;
  height: auto;
  max-width: 471px;
  text-align: center;
  color: var(--token-YxFJTv0qIp7rQ);
  backdrop-filter: drop-shadow(0px 0px 10px #000000);
  font-family: "Inter", sans-serif;
  min-width: 0;
  -webkit-backdrop-filter: drop-shadow(0px 0px 10px #000000);
  padding: 1px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__wL3OD {
    width: auto;
    font-size: 40px;
    padding: 0px;
  }
}
.freeBox__c8Zx6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__q1FdC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__sxq5S {
  width: 100%;
  height: auto;
  max-width: 530px;
  padding-bottom: 0px;
  color: var(--token-YxFJTv0qIp7rQ);
  text-align: center;
  font-size: 20px;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 9px 10px #000000);
  margin-top: 0px;
  font-family: "Inter", sans-serif;
  min-width: 0;
  -webkit-backdrop-filter: drop-shadow(10px 9px 10px #000000);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sxq5S {
    text-align: center;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.text__crxiD {
  width: 100%;
  height: auto;
  max-width: 530px;
  padding-bottom: 0px;
  color: var(--token-eI5XVwQOs8t);
  text-align: center;
  font-size: 30px;
  box-shadow: none;
  backdrop-filter: drop-shadow(10px 9px 10px #000000);
  font-family: "Inter", sans-serif;
  min-width: 0;
  -webkit-backdrop-filter: drop-shadow(10px 9px 10px #000000);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__crxiD {
    text-align: center;
    padding-bottom: 13px;
    padding-top: 5px;
  }
}
.button__wuhig:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___369Rp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iaWQ {
  text-transform: uppercase;
  color: #ededec;
  user-select: none;
}
.svg___7MPmR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer:global(.__wab_instance) {
  position: relative;
}
