.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__avnp1 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__avnp1 {
    background: #ffffff;
  }
}
.freeBox__glnp0 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__glnp0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__glnp0 > :global(.__wab_flex-container) > *,
.freeBox__glnp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__glnp0 > :global(.__wab_flex-container) > picture > img,
.freeBox__glnp0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__glnp0 {
    width: 100%;
    left: auto;
    top: auto;
    margin-bottom: 0px;
    overflow: visible;
    min-width: 0;
    display: flex;
    padding: 0px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__glnp0 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ckfyH {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__ckfyH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ckfyH > :global(.__wab_flex-container) > *,
.freeBox__ckfyH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ckfyH > :global(.__wab_flex-container) > picture > img,
.freeBox__ckfyH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckfyH {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: 0px;
    overflow: visible;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckfyH > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ckfyH > :global(.__wab_flex-container) > *,
  .freeBox__ckfyH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ckfyH > :global(.__wab_flex-container) > picture > img,
  .freeBox__ckfyH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.freeBox__m43Yk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__ao1T2 {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__drkBz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__wjemh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cVZd {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kJBuu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 100%;
  align-content: flex-start;
  overflow: visible;
  min-height: 0;
  padding: 16px;
}
.link {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0px;
  text-align: center;
}
.svg__tcXrF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 36px;
  margin-bottom: 0px;
  height: 28px;
}
.svg__d52M5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 36px;
  margin-bottom: 0px;
  height: 28px;
}
.freeBox__ng1Kx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  overflow: visible;
  z-index: 1;
  order: 1;
  left: auto;
  top: auto;
  flex-shrink: 1;
  padding: 8px;
}
.freeBox__ng1Kx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__ng1Kx > :global(.__wab_flex-container) > *,
.freeBox__ng1Kx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ng1Kx > :global(.__wab_flex-container) > picture > img,
.freeBox__ng1Kx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 5px;
}
.button___2LLia:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 97px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__v3Zk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__v1ZHj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___9JihG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 97px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__dzbd7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yEnFl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___4CLAm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 97px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__mLDqg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sRcOr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uLl6I:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 97px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__cMXg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__z4NJx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__x9W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 88px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svg__mer6Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__onE2M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xizhj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__xizhj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__xizhj > :global(.__wab_flex-container) > *,
.freeBox__xizhj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xizhj > :global(.__wab_flex-container) > picture > img,
.freeBox__xizhj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xizhj {
    background: #000000;
  }
}
.freeBox__bFc0O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__yyJ8O {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__yyJ8O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__yyJ8O > :global(.__wab_flex-container) > *,
.freeBox__yyJ8O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yyJ8O > :global(.__wab_flex-container) > picture > img,
.freeBox__yyJ8O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yyJ8O {
    width: 100%;
    min-width: 0;
    display: none;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yyJ8O > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__koLPi {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__koLPi > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__koLPi > :global(.__wab_flex-container) > *,
.freeBox__koLPi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__koLPi > :global(.__wab_flex-container) > picture > img,
.freeBox__koLPi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__koLPi {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__koLPi > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__koLPi > :global(.__wab_flex-container) > *,
  .freeBox__koLPi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__koLPi > :global(.__wab_flex-container) > picture > img,
  .freeBox__koLPi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__nH06M {
  position: relative;
  height: 46px;
  max-width: 800px;
  margin-right: 0px;
  font-size: 30px;
  color: var(--token-3JpfuKOQofckF);
  text-align: center;
  white-space: pre;
  user-select: text;
}
.freeBox__rmvOv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rmvOv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rmvOv > :global(.__wab_flex-container) > *,
.freeBox__rmvOv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rmvOv > :global(.__wab_flex-container) > picture > img,
.freeBox__rmvOv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rmvOv > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rmvOv > :global(.__wab_flex-container) > *,
  .freeBox__rmvOv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rmvOv > :global(.__wab_flex-container) > picture > img,
  .freeBox__rmvOv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__bo4QP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__hh8Fx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2Mrj {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zrdpa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__uLl8Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__l1Ejj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lq7Ud {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__t2Xj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__t4CIk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___6X92C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__redmB {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bPbmb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__rdyD9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__rdyD9:global(.__wab_instance) {
    display: none;
  }
}
.svg__lnRd1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sxIm {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__owkwP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___6N2Go:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___880D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9Yl6 {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__x0Jjn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xSuqX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__w7CQr {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__dAxEp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__rnLj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__feT {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7GIjb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ajMy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ff0000;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ajMy {
    display: block;
  }
}
.freeBox__raPlz {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-YxFJTv0qIp7rQ);
}
.freeBox__raPlz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__raPlz > :global(.__wab_flex-container) > *,
.freeBox__raPlz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__raPlz > :global(.__wab_flex-container) > picture > img,
.freeBox__raPlz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.freeBox___5FAgs {
  position: relative;
  object-fit: cover;
  max-width: none;
  background: url("/plasmic/appel_site/images/ecaa1A9F59E04714Aca4D68090E95Ef2FuelBgPngpng.png") top 50% left 50% / cover no-repeat;
  width: 107.5%;
}
.freeBox__pJvD {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__myxZ2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #feb392;
  min-width: 0;
  padding: 0px;
}
.text__em6Fr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.text___2H7Wu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___2H7Wu {
    display: block;
  }
}
