.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__uj4Xq {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  padding: 10px;
}
.freeBox__u6I8S {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 3;
  background: #00000080;
  backdrop-filter: blur(20px);
  min-width: 0;
  -webkit-backdrop-filter: blur(20px);
  border-radius: 80px;
  padding: 10px;
  margin: 0px;
}
.freeBox__u6I8S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__u6I8S > :global(.__wab_flex-container) > *,
.freeBox__u6I8S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u6I8S > :global(.__wab_flex-container) > picture > img,
.freeBox__u6I8S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u6I8S {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
    display: none;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__u6I8S > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ppTbn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__ppTbn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ppTbn > :global(.__wab_flex-container) > *,
.freeBox__ppTbn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ppTbn > :global(.__wab_flex-container) > picture > img,
.freeBox__ppTbn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ppTbn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ppTbn > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ppTbn > :global(.__wab_flex-container) > *,
  .freeBox__ppTbn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ppTbn > :global(.__wab_flex-container) > picture > img,
  .freeBox__ppTbn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__guik3 {
  position: relative;
  height: 46px;
  max-width: 800px;
  margin-right: 0px;
  font-size: 30px;
  color: var(--token-3JpfuKOQofckF);
  text-align: center;
  white-space: pre;
  user-select: text;
}
.freeBox__q9MOb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__q9MOb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__q9MOb > :global(.__wab_flex-container) > *,
.freeBox__q9MOb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q9MOb > :global(.__wab_flex-container) > picture > img,
.freeBox__q9MOb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q9MOb > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q9MOb > :global(.__wab_flex-container) > *,
  .freeBox__q9MOb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q9MOb > :global(.__wab_flex-container) > picture > img,
  .freeBox__q9MOb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button__s39Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__pL1K7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___8Bhqc {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__o5Qyl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__oeLwu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__xTezv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__okO0T {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__slC7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___3BCdm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__wjYoK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mrDzp {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lU61W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__k9C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg___3U2Aj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ifTo {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__m4Cjh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___1QlQj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__yheQu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xwwG4 {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qwZIp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__akenu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__t6XaV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___8NkPx {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__lckjJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ihEUr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__ihEUr:global(.__wab_instance) {
    display: none;
  }
}
.svg__u6Bfn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dUsP {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: var(--token-3JpfuKOQofckF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___0Mejk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__k82Bo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__eiXZj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__p3Imb {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__hxKaC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___9RXwz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__innhk {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button___0Dgxz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__vHrnd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bBq5J {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__fu8Os {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
