.single {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.single > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.single > :global(.__wab_flex-container) > *,
.single > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.single > :global(.__wab_flex-container) > picture > img,
.single
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .single {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .single > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.heade:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.freeBox__mrPVb {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  left: auto;
  top: auto;
  z-index: 1;
  background: #000000;
  min-width: 0;
  padding: 10px 16px;
}
.freeBox__mrPVb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mrPVb > :global(.__wab_flex-container) > *,
.freeBox__mrPVb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mrPVb > :global(.__wab_flex-container) > picture > img,
.freeBox__mrPVb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mrPVb {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
    display: flex;
    padding: 0px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mrPVb > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__xxsSp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__xxsSp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xxsSp > :global(.__wab_flex-container) > *,
.freeBox__xxsSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xxsSp > :global(.__wab_flex-container) > picture > img,
.freeBox__xxsSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xxsSp {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xxsSp > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xxsSp > :global(.__wab_flex-container) > *,
  .freeBox__xxsSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xxsSp > :global(.__wab_flex-container) > picture > img,
  .freeBox__xxsSp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.link {
  position: relative;
  color: #ffffff;
  font-size: 30px;
  padding-bottom: 0px;
  text-align: center;
}
.freeBox__tmEt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__d7RIs {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button__kx5V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__kB4MF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cRiUw {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__eFeW5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mWehT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.freeBox__iUlou {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1441px;
  align-self: auto;
  margin-bottom: 0px;
  padding: 60px 0px 6px;
}
.freeBox__iUlou > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__iUlou > :global(.__wab_flex-container) > *,
.freeBox__iUlou > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iUlou > :global(.__wab_flex-container) > picture > img,
.freeBox__iUlou
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iUlou {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    padding: 6px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iUlou > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iUlou > :global(.__wab_flex-container) > *,
  .freeBox__iUlou > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iUlou > :global(.__wab_flex-container) > picture > img,
  .freeBox__iUlou
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.freeBox__rq3K5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  padding: 0px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 50px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column > :global(.__wab_flex-container) > *,
  .column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column > :global(.__wab_flex-container) > picture > img,
  .column
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  color: var(--token-NEon4Y--Z);
  min-width: 0;
}
.text___55ErY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Inter", sans-serif;
  min-width: 0;
}
.freeBox__c9Qa8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-top: calc(0px + 24px) !important;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__c9Qa8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__c9Qa8 > :global(.__wab_flex-container) > *,
.freeBox__c9Qa8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c9Qa8 > :global(.__wab_flex-container) > picture > img,
.freeBox__c9Qa8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c9Qa8 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: calc(0px + 24px) !important;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c9Qa8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 7px);
    height: calc(100% + 7px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c9Qa8 > :global(.__wab_flex-container) > *,
  .freeBox__c9Qa8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__c9Qa8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__c9Qa8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 7px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 500px;
  position: relative;
}
.svg__gv8A5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qm0J1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.textInput2:global(.__wab_instance) {
  max-width: 500px;
  position: relative;
}
.svg___0J2K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fphKu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bQaEs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 8px 8px;
}
.button__amRyG:global(.__wab_instance) {
  max-width: 100%;
  width: 125px;
  flex-shrink: 0;
}
.svg__fmPUk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yekDs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer:global(.__wab_instance) {
  position: relative;
  margin-top: calc(220px + 0px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer:global(.__wab_instance) {
    margin-top: calc(220px + 0px) !important;
  }
}
